In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [7]:
s = "adkljasdkf";
s

'adkljasdkf'

In [10]:
e = True;
print(type(e));

<class 'bool'>

In [11]:
a,b,c,d = 23,"Udit","kpg",232.454;

In [12]:
a

23

In [13]:
b

'Udit'

In [14]:
c

'kpg'

In [16]:
a = a + 12;
a

47

In [18]:
com = 9 + 6j;
print(type(com));

<class 'complex'>

In [22]:
com.imag   #for seeing function press . then enter tab

6.0

In [23]:
b + "3"

'Udit3'

In [24]:
b + str(3) #this is the inbuilt function which convert 3 into string part and simple concatination occur

'Udit3'

In [25]:
True + True # True means 1 and False means 0. so here 1 + 1 = 2.

2

In [5]:
True - False # 1 - 0 = 1

1

In [28]:
a = input();  #to take input in run-time.

udit lol

In [29]:
s = "My name is udit"

In [30]:
s[0]

'M'

In [31]:
s[-1]

't'

In [32]:
s[0:9]

'My name i'

In [37]:
s[3:5]

'na'

In [38]:
s[0:1999]

'My name is udit'

In [39]:
s[0:300:2] # 0 --:>starting index  300 --> 0 to end of the string  2 --> jump.(means how many index it skip and jump)

'M aei dt'

In [40]:
s[0:300:-1] # here jump is -1 which goes to negative direction and range is positive because of it we do not get any output

''

In [42]:
s[-1:-4] # this will also not give output because by default jump is +1 and we try to access negative index with positive
# which cause conflict so that it will not give any output

''

In [44]:
s[-1:-4:-1]

'tid'

In [46]:
s[0:-100:-1] # jump direction or aur index going direction is same or we were in index 0 so we print that index value.

'M'

In [6]:
s = "kumar"

In [7]:
s[-2:] #because we are trying to go on positive side and jump is also positive start with -2 index and move forward.

'ar'

In [8]:
s[-2:-1] # because we move in positive direction -2 to -1 and our jump is also in positive direction be defause jump is 1.

'a'

In [9]:
s[::-1] # gives reverse of the string;

'ramuk'

In [10]:
s[-1::-1]

'ramuk'

In [11]:
s = "My Name is udit purohit";

In [12]:
s[-5:5] # we are trying at 'r' and we want to go to +ve 5  but our direction of jump is +ve side so we cannot access it.

''

In [13]:
s[-5:5:-1] # we start at 'r' and want to go +ve 5 which is in right side and our jump is also in right side -5-1 = -6 so it
# work perfectly

'rup tidu si e'

In [14]:
"udit"*4

'uditudituditudit'

In [15]:
s = "Hello to all kaise ho aap sab mein toh theek hu tum batao"

In [16]:
s.find('l')

2

In [17]:
s.count('i') #give the occurence

2

In [18]:
s.split() #by default take white space as seperator

['Hello',
 'to',
 'all',
 'kaise',
 'ho',
 'aap',
 'sab',
 'mein',
 'toh',
 'theek',
 'hu',
 'tum',
 'batao']

In [19]:
l = s.split()
l[0]

'Hello'

In [20]:
l = s.split('e')
l

['H', 'llo to all kais', ' ho aap sab m', 'in toh th', '', 'k hu tum batao']

In [21]:
s.upper()

'HELLO TO ALL KAISE HO AAP SAB MEIN TOH THEEK HU TUM BATAO'

In [22]:
s.swapcase() #lower to upper and upper to lower

'hELLO TO ALL KAISE HO AAP SAB MEIN TOH THEEK HU TUM BATAO'

In [23]:
a = "udit"
b = "purohit"
a.join(b)

'pudituuditruditoudithuditiuditt'

In [24]:
l = ["udit",1,"kpg"]

In [25]:
l[0][1]

'd'

In [26]:
type(l)

list

In [27]:
"udit" in l

True

In [28]:
"aman" in l

False

In [29]:
l.append(4)

In [30]:
l

['udit', 1, 'kpg', 4]

In [31]:
l.remove("udit")

In [32]:
l

[1, 'kpg', 4]

In [33]:
l.pop() #by default delete last element;

4

In [34]:
l

[1, 'kpg']

In [35]:
l.insert(0,"udit")

In [36]:
l

['udit', 1, 'kpg']

In [37]:
l.append([23,"aman"])

In [38]:
l

['udit', 1, 'kpg', [23, 'aman']]

In [39]:
l.extend([0,"giyan"])

In [40]:
l # this is the diff between extend and append insert whole list as it is while extend insert element of the list.

['udit', 1, 'kpg', [23, 'aman'], 0, 'giyan']

In [41]:
[2,2,3,4,55,3] + [1,3,4]

[2, 2, 3, 4, 55, 3, 1, 3, 4]

# TUPLE

In [42]:
t = (1,2,3,4,5)
type(t)

tuple

In [43]:
t[0:2]

(1, 2)

In [44]:
t = (1,2,(2,3,4),"udit")

In [45]:
t[::-1]

('udit', (2, 3, 4), 2, 1)

In [46]:
t[0:3]

(1, 2, (2, 3, 4))

In [47]:
l1 = list(t) #convert tuple to list.

In [48]:
t = tuple(l1) #convert back list to tuple.

In [49]:
t[0] = "udit"

TypeError: 'tuple' object does not support item assignment

# SET

In [50]:
l = [1,2,3,1,1,2,1,4,5,6,3,4,6] #set doen't contain any duplicate value.
l1 = set(l)

In [51]:
s = {1,2,4,2,9,2,2,1,1}

In [52]:
type(s)

set

In [53]:
s[0] #no indexing available.

TypeError: 'set' object is not subscriptable

In [54]:
l = list(s);
l

[1, 2, 4, 9]

In [55]:
s.add(90)
s

{1, 2, 4, 9, 90}

In [56]:
s.add((1,2,3,2))
s

{(1, 2, 3, 2), 1, 2, 4, 9, 90}

In [57]:
s.add([2,2,3,4,1])#tuple is immutable so it allowed and list is not immutable no reject.

TypeError: unhashable type: 'list'

In [58]:
s.add(tuple([1,2,3,4]))
s

{(1, 2, 3, 2), (1, 2, 3, 4), 1, 2, 4, 9, 90}

# Dictionary

In [59]:
d = {"key1":3, "key2" :4} # also called as key value pair

In [60]:
d["key1"]

3

In [61]:
d["key3"] = 4
d

{'key1': 3, 'key2': 4, 'key3': 4}

In [62]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [63]:
d.values()

dict_values([3, 4, 4])

In [64]:
del d["key1"]

In [65]:
d

{'key2': 4, 'key3': 4}

In [66]:
d2 = {"name" : "udit", 4 : "purohit"}
d.update(d2) # here we concatinate d2 with d. resultant dictionary is d.
d

{'key2': 4, 'key3': 4, 'name': 'udit', 4: 'purohit'}

In [67]:
d2

{'name': 'udit', 4: 'purohit'}

In [68]:
key = ("name","mobile_no","email_id")
value = "udit"
d = d.fromkeys(key,value)
d

{'name': 'udit', 'mobile_no': 'udit', 'email_id': 'udit'}

In [69]:
a = 10
if(a < 15):
    print("true")

true

In [70]:
l = [1,2,3,4,5,6,6]
for i in l:
    print(i)

1
2
3
4
5
6
6

In [71]:
j = 0
for i in l:
    l[j] = i+2;
    print(l)
    j += 1

[3, 2, 3, 4, 5, 6, 6]
[3, 4, 3, 4, 5, 6, 6]
[3, 4, 5, 4, 5, 6, 6]
[3, 4, 5, 6, 5, 6, 6]
[3, 4, 5, 6, 7, 6, 6]
[3, 4, 5, 6, 7, 8, 6]
[3, 4, 5, 6, 7, 8, 8]

In [72]:
l = [1,3,4,5,6,4]
l1 = []
for i in l:
    l1.append(i+2)
l1

[3, 5, 6, 7, 8, 6]

# for loop and while loop------------------------------------------------------->

In [73]:
l = [1,2,3,4,[6,7,8,3],"udit"]
for i in l:
    if(type(i) == int):
        print(i)
    elif(type(i) == list):
        for it in i:
            print(it)
    else:
        print(i)

1
2
3
4
6
7
8
3
udit

In [74]:
l = [1,2,3,4,"udit"]
range(4)

range(0, 4)

In [75]:
range(len(l))

range(0, 5)

In [76]:
for i in range(len(l)):
    print("index ",i,"for an element ", l[i])

index  0 for an element  1
index  1 for an element  2
index  2 for an element  3
index  3 for an element  4
index  4 for an element  udit

In [77]:
l1 = []
for i in l:
    if(type(i) == str):
        for it in i:
            l1.append(it)
l1

['u', 'd', 'i', 't']

In [79]:
for i in l1:
    print(i)
else:
    print("Hello")

u
d
i
t
Hello

In [84]:
for i in l1:
    if(i == 'u'):
        break
    print(i)
else:
    print("Hello")
    
# here we see that now our else doesn't work why ?
# if for loop endup exhausting the entire list then only it will ableto come at elsepart otherwise it will not enter in else

In [ ]:
#if you want to write dead code then
while 2 < 5 :
    pass   #pass is imp.to write otherwise this code give error.

In [14]:
#pattern question
n = 5;
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end = "")
    print("\r")

*
**
***
****
*****

In [18]:
list(range(0,n))

[0, 1, 2, 3, 4]

In [19]:
i =0
while(i < 10):
    print(i)
    i = i+1;

0
1
2
3
4
5
6
7
8
9

In [21]:
l = [1,2,3,4,5,6,7]
l

[1, 2, 3, 4, 5, 6, 7]

In [23]:
list(range(len(l)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [25]:
d = {'key1' : "udit","key2" : "purohit"}
for i in d:
    print(i,d[i])

key1 udit
key2 purohit

In [26]:
d.items()

dict_items([('key1', 'udit'), ('key2', 'purohit')])

In [27]:
for i in d.items():
    print(i)

('key1', 'udit')
('key2', 'purohit')

In [31]:
s = "hello to all"
for i in range(len(s)-1,-1,-1):
    print(s[i],end = "")

lla ot olleh

In [35]:
#make a palindrom program...
# \r is for next line just like \n in c or c++.
a = "naman"
s = a[::-1]
if(a == s):
    print("palindrom\r")

palindrom

In [39]:
#method 2
a = "naman"
i =0;
while i < len(a):
    if(a[i] != a[len(a)-i -1]):
        print("Not a palindrom")
        break;
    i = i+1;
else:
    print("Palindrom")

Not a palindrom

In [41]:
d = {"india" : "IN",
     "canada" : "CA",
     "china" : "CH",
     "united states": "Us"}

In [44]:
#task is to make to seperate list 1 whick take care of key element whose length is less than = 5 rest in list2.
l1 = []
l2 = []
for i in d.keys():
    if(len(i) <= 5):
        l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

['india', 'china']
['canada', 'united states']

In [3]:
d= {"a" : {"first" : 1, "second" : 2}, "b" : {"udit":1999, "ram" :20},
    "c" : [45,12,34,89,"kabadi"], "d" : ("hello",1112,89,34)}
# here our task is to find the greatest integer number

In [6]:
maxi = 0
for i in d.values():
    if(type(i) == list):
        for it in i:
            if(type(it) == int):
                if(maxi < it):
                    maxi = it
    elif(type(i) == tuple):
        for it in i:
            if(type(it) == int):
                if(maxi < it):
                    maxi = it
    else:
        for it in i.values():
            if(type(it) == int):
                if(maxi < it):
                    maxi = it
maxi

1999

# Function

In [9]:
# always start your function with def
def display():
    print("Hello, How are you ? I am fine")

display()

Hello, How are you ? I am fine

In [14]:
def display():
    print("My name is udit")

a = "purohit";
a + display()
# why concatination is not happening. ?

My name is udit

TypeError: can only concatenate str (not "NoneType") to str

In [15]:
# by default function type is None type. and print function give none type
a + str(display())

My name is udit

'purohitNone'

In [18]:
#correct method is -----> we need to return string from the fuction.
def display():
    return "My name is udit"

a = "Hello, "
print(a + display())
print(type(display()))

Hello, My name is udit
<class 'str'>

In [23]:
def display():
    return 2, "udit",[1,2,3,45]  # this is the typle why?

#by default it will give tuple type to these type of mixture of data type in return statement.

print(display())
print(type(display()))

(2, 'udit', [1, 2, 3, 45])
<class 'tuple'>

In [25]:
b = display()
print(b)

(2, 'udit', [1, 2, 3, 45])

In [26]:
#we can change now the type of typle to whatever we want like list-->
l = list(b)
print(l)

[2, 'udit', [1, 2, 3, 45]]

In [28]:
a,b,c,d = "udit",2,"purohit",7.2
print(a,b,c,d)

udit 2 purohit 7.2

In [35]:
a,b,c = display() 
print(a,type(a))
print(b,type(a))
print(c,type(c))

2 <class 'int'>
udit <class 'int'>
[1, 2, 3, 45] <class 'list'>

In [39]:
def display(l):
    #how to make a doc string it's simple just add whatever string you want in """ """ these
    """this function only return the integer value"""
    l1 = []
    for i in l:
        if(type(i) == int):
            l1.append(i)
    return l1
    
l = [1,2,3,4,5,"udit",[2324,34,35,45]]
l1 = display(l)
l1

[1, 2, 3, 4, 5]

In [40]:
help(display) #to show the doc string.

Help on function display in module __main__:

display(l)
    this function only return the integer value

In [4]:
#args --> any number of argument you suppose to pass
def display(*args):
    return args

a,b= 10,"udit"
print(display(a,b))
# we can pass as many argument as we want.
# We can give our name also in place of args

(10, 'udit')

In [5]:
def display(*udit):
    return udit

a,b= 10,"udit"
print(display(a,b))

(10, 'udit')

In [6]:
def display(*args, a, b):
    return args, a, b

display(1,2,3,4,5, a = "udit",b = [12,2323])
# we must define the argument of a and b otherwise it will consider all element in args and give error

((1, 2, 3, 4, 5), 'udit', [12, 2323])

In [8]:
def display(a,*args):
    return a,args

display(a = "udit",1,2,3,4)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_19260/2436208375.py, line 4)

In [10]:
def display(a,*args):
    return a,args

display("udit",1,2,3,4)

('udit', (1, 2, 3, 4))

In [14]:
#we pass values as key and pair.
def display(**kwargs):
    return kwargs

print(display(a = 34, b = [34,565,34,2]))
print(type(display()))

{'a': 34, 'b': [34, 565, 34, 2]}
<class 'dict'>

In [ ]:
def display(**kwargs):
    return kwargs

display(34, [34,565,34,2]) #this give error we must give key value pair otherwise it will not work.

# lambda function-----> One linear function

In [19]:
# lambda function is function without name.
lambda a,b : a*b
# how i am able to pass the data ? This is the thing to think.
# It's simple we need to assign the lambda function to some kind of varibles.

In [21]:
a = lambda a,b : a*b
# to call the lambda function we need to do thing which we done below
a(10,10)

100

In [24]:
a = lambda a,b : (a*b,a+b)
a(10,10)

(100, 20)

In [27]:
a = lambda *args : args
a(12,3,2,2,12,3,4)

(12, 3, 2, 2, 12, 3, 4)

In [29]:
a = lambda *args : args * args
a(10,23)
# this will not work because *args take multiple values and we know function take multiple value and return it in form tuple
# so we cannot change the values of tuple so error generated.

TypeError: can't multiply sequence by non-int of type 'tuple'

In [31]:
# always go with normal function don't use lambda function

# List Comprehension

In [32]:
#make a code which add 2 to list and update the new ans
l = [2,3,4,5,6,7,4]
l1 = []
for i in l:
    l1.append(i+2)
l1

[4, 5, 6, 7, 8, 9, 6]

In [36]:
# Now convert the above code and make sure to use function
def display(l):
    l1 =[]
    for i in l:
        l1.append(i+2)
    return l1

l = [2,3,4,5,6,7,4]
l1 = display(l)
l1

[4, 5, 6, 7, 8, 9, 6]

In [38]:
# now write it down with the help of lambda function.
a = lambda a : [i+2 for i in a]
# i+2 we have supposed to return. 
a(l)

[4, 5, 6, 7, 8, 9, 6]

In [41]:
# list comprehension--->> return part always on left hand side
[print(i,end=" ") for i in l]

2 3 4 5 6 7 4

[None, None, None, None, None, None, None]

In [42]:
[i+2 for i in l]

[4, 5, 6, 7, 8, 9, 6]

In [43]:
[(i+2,i*i) for i in l]

[(4, 4), (5, 9), (6, 16), (7, 25), (8, 36), (9, 49), (6, 16)]

In [48]:
[i+2 for i in l if i <=4]

[4, 5, 6, 6]

In [51]:
# we also do the above code in normal form like
l1 = [] 
for i in l:
    if(i <= 4):
        l1.append((i+2,i*i))

l1

[(4, 4), (5, 9), (6, 16), (6, 16)]

In [56]:
# also we can do in form of normal function
def function(l):
    for i in l:
        return [i+2,i*i]
    
function(l)

[4, 4]

In [57]:
d = {1 : 1, 2 : 4, 3 : 9}
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# iterable,generator, iterator

In [58]:
a = 10
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [61]:
s = "print"
for i in s:
    print(i,end = "")

# string is the iterable object whereas int is not the iterable object as we seen above.

print

In [62]:
next(s) # which will extract one one element at a time if an object is iterator. where as for loop can do

TypeError: 'str' object is not an iterator

In [64]:
# So what is the difference between iterable or iterator.
#if an object is holding a value with the help of some sort of the indexes and if you are able to access it one by one with
#the help of the indexes that kind of object is called iterable object.

#NOW UNDERSTAND how for loop work.

#iter function will able to convert your iterable object into iterator
s = "string"
i = iter(s)
next(i)

's'

In [2]:
#internally for loop will try to convert it into iterator by using of iter function.
l = [1,2,3,4,5]
# here list is the iterable object not a iterator so we need to convert this
a = iter(l)
next(a)

1

In [3]:
next(a)

2

In [4]:
next(a)

3

In [5]:
next(a)

4

In [6]:
next(a)

5

In [7]:
next(a)

StopIteration:

In [10]:
def getcube(n):
    l= []
    for i in range(n):
        l.append(i**3)
    return l

getcube(11)
# Now convert this function as range like function.

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [12]:
# what is yield ? 
# it help us out to convert the function into generator.
def getcube(n):
    for i in range(n):
        yield i**3;
        
getcube(10)

In [15]:
for i in getcube(10):
    print(i,end = " ")

0 1 8 27 64 125 216 343 512 729

In [16]:
# so we can make the range like function with the help of yield
# Generator function allow you to declare the function that behave like a iterator.

In [17]:
#fibonacci series.....
def fibo(n):
    a = 1
    b = 1
    for i in range(n):
        yield a,i
        a,b = b, a+b

In [19]:
for i in fibo(10):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)

# File System

In [12]:
# Deal with the txt file.
f = open("test.txt","w")

In [18]:
pwd() #it will give my present directries

'C:\\Users\\Aditya N Purohit'

In [19]:
%ls # list down all the files which is available inside the present working directries

 Volume in drive C is OS
 Volume Serial Number is 9E64-D8CE

 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit


 Directory of C:\Users\Aditya N Purohit

File Not Found

In [33]:
f = open("test2.txt","w")

In [34]:
f.write("This is my first file operation.")
# we aree not gonna see anything so firstly close that file.
f.close()

In [36]:
f = open('test2.txt') #bydefault it is in read file so need to give 'r'.

In [37]:
f.read()

'This is my first file operation.'

In [38]:
 f.read() #it will because we already read whole data and our cursor is in the end of file that we are reading.that's why
    #it will give blank ans.

''

In [45]:
# we can reallocate the cursor. #reset the cursor
f.seek(0) # we can reset the cursor at 1st position
f.read()

'This is my first file operation.'

In [46]:
#If we want to know that where is our file cursor at this time we can know with the help of tell function
f.tell()

32

In [47]:
f.seek(4)

4

In [49]:
f.tell()

4

In [50]:
f.close()

In [53]:
# r+ mode ---> Now try to open the file in r+ mode it means read + write mode.
f = open("test2.txt","r+")

In [54]:
f.readline()

'This is my first file operation.'

In [62]:
#so what is the difference between read and readline-->
#read always try to read the whole data
#readline read the data line by line.

In [63]:
f.close()

In [64]:
f = open("test2.txt","r+")
f.readlines() #this will give you all the information inside the list. and one line is one element in it.

['This is my first file operation.\n',
 'This is my first line.\n',
 'This is my second line.']

In [68]:
f.seek(0)
l = f.readlines()
l[0].split() #split function split the sentence into words.

['This', 'is', 'my', 'first', 'file', 'operation.']

In [69]:
#How to write down the data if it is available in list
l = ["THis is the first line","This is the second line","This is the third line"]
f.writelines(l) #by this we can write down the data of list.

In [71]:
f.seek(0)
f.read()

'This is my first file operation.\nThis is my first line.\nThis is my second line.THis is the first lineThis is the second lineThis is the third line'

In [76]:
f.close()

In [77]:
#If we want to delete the file then it is not available in file system we need to import the os
import os

In [79]:
os.remove("test.txt") # here we del.the file successfully.

In [80]:
os.getcwd() #curent working directries.

'C:\\Users\\Aditya N Purohit'

In [81]:
os.listdir()

['.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.eclipse',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.ms-ad',
 '.p2',
 '.vscode',
 '10 Day training project.ipynb',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'eclipse',
 'eclipse-workspace',
 'Favorites',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'Mini Project House Price Prediction model -Copy1.ipynb',
 'Mini Project House Price Prediction model .ipynb',
 'mirinal sentiment analysis.ipynb',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{2b1f1269-04c8-11ec-9dae-046c59799d34}.TM.blf',
 'NTUSER.DAT{2b1f1269-04c8-11ec-9dae-046c59799d34}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{2b1f1269-04c8-11ec-9dae-046c59799d34}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Oracle',
 'outlier.ipynb',
 'Pictures',
 'PrintHood',
 'python basics.ipynb',
 'Recent',
 'Saved Games',
 'seaborn-data',
 'Searches',
 'SendTo',
 'Start Menu',
 'Statistics.ipynb',
 'Templates',
 'Untitled.ipynb',
 'Videos']

# Exception Handling

In [85]:
a = 10
a/0
#anything divide by 0 will give infinity ans.

ZeroDivisionError: division by zero

In [90]:
a= 5
b = int(input())
a/b

0

ZeroDivisionError: division by zero

In [92]:
# NOw we will perform exception handling
try:
    a = 5
    b = int(input())
    a/b
except:
    print("0 is not exceptable")
    
#if there is an issue in try block then it will automatically come to except..

0
0 is not exceptable

In [93]:
# if i want to see that which kind of error that we face we can also do that.
try:
    a = 5
    b = int(input())
    a/b
except Exception as e:
    print(e)

0
division by zero

In [97]:
try:
    a = input("Enter number->")
    print(a + 2)
except Exception as e:
    print(e)
else:
    print("hello")
#else block only able to execute if and only if try will execute successfully.

Enter number->2
can only concatenate str (not "int") to str

In [100]:
#finally --> execute for sure.
try:
    a = input("Enter number")
    print(a+2)
except:
    print("ENter value in int format")

Enter number2
ENter value in int format